<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css" type="text/css"/>
    <title>TODO: Django, SQLite3</title>
</head>

<body>

<h2>SDM, django.db, DRF, SQLite3, Vue.js</h2>

<div id="app" v-cloak>
    <table class="bg" style="padding: 4px;">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <table class="section">
                                <tr>
                                    <th>Project</th>
                                    <th>Tasks Count</th>
                                </tr>
                                <tr v-for="project in projects">
                                    <td>
                                        <a href="#" @click="renderGroupDetails(project.p_id)">
                                            ${ project.p_name }
                                        </a>
                                    </td>
                                    <td style="text-align: center;width: 80px;">
                                        ${ project.p_tasks_count }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" enctype="multipart/form-data">
                                <table class="controls">
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="text" v-model="p_name"/>
                                            </label>
                                        </td>
                                        <td class="w1">
                                            <a href="#" @click="groupCreate()">
                                                <input type="button" value="+"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
            <td v-if="project_details">
                <table>
                    <tr>
                        <td>
                            <form method="post">
                                <table class="controls">
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="text" class="group-header"
                                                       v-model="current_project.p_name"/>
                                            </label>
                                        </td>
                                        <td class="w1">
                                            <a href="#" @click="groupUpdate()">
                                                <input type="button" value="&#x2713;"/>
                                            </a>
                                        </td>
                                        <td class="w1">
                                            <a href="#" @click="groupDelete()">
                                                <input type="button" value="x"/>
                                            </a>
                                        </td>
                                        <td class="w1">
                                            <a href="#" @click="hideProjectDetails">
                                                <input type="button" value="&lt;"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="section">
                                <tr>
                                    <th>Date</th>
                                    <th>Subject</th>
                                    <th>Priority</th>
                                </tr>
                                <tr v-for="t in tasks">
                                    <td>
                                        ${ t.t_date }
                                    </td>
                                    <td>
                                        <a href="#" @click="renderTaskDetails(t.t_id)">
                                            ${ t.t_subject }
                                        </a>
                                    </td>

                                    <td style="text-align: center;">
                                        ${ t.t_priority }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post">
                                <table class="controls">
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="text" v-model="t_subject"/>
                                            </label>
                                        </td>
                                        <td class="w1">
                                            <a href="#" @click="taskCreate()">
                                                <input type="button" value="+"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
            <td v-if="task_details">
                <div class="title" id="subj">
                    ${ current_subject }
                </div>
                <table>
                    <tr>
                        <td class="form-label">Date</td>
                        <td>
                            <label>
                                <input type="text" v-model="current_task.t_date"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">Subject</td>
                        <td class="w100">
                            <label>
                                <input type="text" v-model="current_task.t_subject"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">Priority</td>
                        <td>
                            <label>
                                <input type="text" v-model="current_task.t_priority"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>
                                <textarea cols="40" rows="10" v-model="current_task.t_comments"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="controls">
                                <tr>
                                    <td class="w1">
                                        <a href="#" @click="taskUpdate()">
                                            <input type="button" value="&#x2713;"/>
                                        </a>
                                    </td>
                                    <td class="w1">
                                        <a href="#" @click="taskDelete()">
                                            <input type="button" value="x"/>
                                        </a>
                                    </td>
                                    <td class="w1">
                                        <a href="#" @click="hideTaskDetails()">
                                            <input type="button" value="&lt;"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div style="color: crimson;max-width: 310px;">
                    ${ task_error }
                </div>
            </td>
        </tr>
    </table>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/app.js"></script>

</body>