body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial, serif;
    font-size: 10pt;
    color: #555;
}

/*https://stackoverflow.com/questions/58069900/vue-js-showing-content-that-should-be-hidden-by-a-v-if-tag-when-user-refreshes-p*/
/*Vue.js showing content that should be hidden by a v-if tag when user refreshes page*/

[v-cloak] {
    display: none;
}

.bg {
}

h2 {
    margin: 8px;
}

table.bg td {
    vertical-align: top;
}

.center {
    text-align: center;
}

.form-label {
    padding: 7px;
    width: 1%;
}

.red-banner {
    color: crimson;
    margin: 6px;
}


:root {
    --text-grey: #9e9e9e;
    --text-main: rgba(0, 0, 0, 0.87);
    --spacing: 4px;
    --size: 64px;
    --radius: 1.5rem;
    --accent: #5380f7;
    --text-sm: 0.875rem;
    --main-bg: #fff;
    --card-bg: #fff;
    --hover-color: #eee;
    --border-color: rgba(0, 0, 0, 0.05);
    --grey-400: rgba(0, 0, 0, 0.04);
    --grey-600: rgba(0, 0, 0, 0.06);
}

.card {
    box-shadow: rgb(0 0 0 / 30%) 0 8px 40px -12px;
    border-radius: 1.5rem;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /*width: 90%;*/
    position: relative;
    overflow: visible;
    background-color: var(--card-bg);
    padding: 12px;
    margin: 6px;
}

.card:hover {
    transform: translateY(-2px);
}

.card:hover .mask {
    bottom: -1.5rem;
}

.card:hover .mask-c-1 {
    bottom: -2.5rem;
}

input {
    /*https://stackoverflow.com/questions/3059132/how-to-make-an-input-element-with-5px-padding-fill-an-entire-td*/
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    color: #555;
    border: solid 1px #bbb;
    border-radius: 3px;
    min-width: 30px;
}

textarea {
    /*https://stackoverflow.com/questions/3059132/how-to-make-an-input-element-with-5px-padding-fill-an-entire-td*/
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    color: #555;
    border: solid 1px #bbb;
    border-radius: 3px;
}

table {
    *border-collapse: collapse;
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #2389D7;
    text-decoration: none;
}

div.title {
    font-size: 12pt;
    padding: 5px;

    border-color: #bbb;
    border-style: solid;
    border-width: 1px;

    background-color: #eee;
}

.project-header {
    font-size: 12pt;
    padding: 6px;
}

.controls {
    width: 100%;
    padding-bottom: 10px;
}

.controls td {
    vertical-align: middle;
}

.section {
    min-width: 360px;
}

.section th {
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    background-color: #eee;
}

.section td {
    padding: 8px;
    border: solid 1px #bbb;
}

.w1 {
    width: 1px;
}

.w100 {
    width: 100%;
}