body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial, serif;
    font-size: 10pt;
    color: #555;
}

.bg {
}

table.bg td {
    vertical-align: top;
}

.center {
    text-align: center;
}

.form-label {
    padding: 7px;
    width: 1%;
}

input {
    /*https://stackoverflow.com/questions/3059132/how-to-make-an-input-element-with-5px-padding-fill-an-entire-td*/
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    color: #555;
    border: solid 1px #bbb;
    border-radius: 3px;
    min-width: 30px;
}

textarea {
    /*https://stackoverflow.com/questions/3059132/how-to-make-an-input-element-with-5px-padding-fill-an-entire-td*/
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    color: #555;
    border: solid 1px #bbb;
    border-radius: 3px;
}

table {
    *border-collapse: collapse;
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #2389D7;
    text-decoration: none;
}

div.title {
    font-size: 12pt;
    padding: 5px;

    border-color: #bbb;
    border-style: solid;
    border-width: 1px;

    background-color: #eee;
}

.group-header {
    font-size: 12pt;
    padding: 6px;
}

.controls {
    width: 100%;
    padding-bottom: 10px;
}

.controls td {
    vertical-align: middle;
}

.section {
    /*margin-bottom: 10px;*/
    min-width: 320px;
}

.section th {
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    background-color: #eee;
}

.section td {
    padding: 8px;
    border: solid 1px #bbb;
}
